

.pg1{
 background-color: aqua;
}


.pg2{
 background-color: blue;
}

.pg3{
 background-color: blueviolet;
}

.pg4{
 background-color: brown;
}

.interface{
 height: 100vh;
}

section{
    height: 100vh;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

img{
    height: 50vh ;
    width: 50vw ;
}

aj{
    display: flex;
    flex-direction: column;
}