 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 8em;
}

h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5em;
}

p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2em;
}

.pg1{
 background-color: #2B2D42;
}


.pg2{
 background-color:#92DCE5;
}

.pg3{
 background-color:  #2B2D42;
}

.pg4{
 background-color: #92DCE5;
}

.interface{
 height: 100vh;
}

section{
    height: 100vh;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}


aj{
    display: flex;
    flex-direction: column;
    margin: 50%;
}



*{
    margin: 0;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}